*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 1920px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #28273e;
}

.enter{
    width: 1110px;
    height: 60px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 30px;
}

header .enter .name a{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

header .enter .main{
    width: 535px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .enter .main a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

header .enter .learn{
    width: 160px;
    height: 60px;
    border-radius: 5px;
    background-color: #5a5a8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .enter .learn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

section .more{
    width: 1110px;
    height: 790px;
    margin-top: 70px;
    background-color: #1c1b2d;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

section .more .a{
    width: 540px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .more .a h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}

section .more .a p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

section .more .a a{
    width: 160px;
    height: 60px;
    border-radius: 5px;
    background-color: #ff7228;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


section .more .a a{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

section{
    width: 1920px;
    height: 100%;
    background-color: #28273e;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section .honors{
    padding-top: 180px;
    width: 1110px;
    height: 805px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .honors .award{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
   
    flex-direction: column;
    padding-bottom: 140px;
    justify-content: flex-start;
}



section .honors .award h6{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .honors .award .prod h1{
    color: white;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .honors .award .box-top{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

section .honors .award .box-top .y2010, .y2012{
    width: 222px;
    height: 177px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

section .honors .award .box-down{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}

section .honors .award .box-down .y2013, .y2015{
    width: 222px;
    height: 177px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


section .honors .award .box h1{
    color: #ff7228;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .honors .award .box h2{
    color: white;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .honors .award .box p{
    color: #ffffff;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .honors .award .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .almost{
    width: 1110px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .almost h6{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .almost h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .almost .boxx{
    width: 650px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section .almost .box3{
    width: 1110px;
    height: 290px;
    display: flex;
    /* flex-direction: column; */
}

section .almost .box3 .box1, .box2{
    width: 33.33%;
    height: 290px;
}

section .almost .box3 .box1{
    background-color: white;
    display: flex;
    justify-content: center;
}

section .almost .box3 .box2{
    background-color: #785cdd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* padding-top: 45px;
    padding-bottom: 50px; */
}

section .almost .box3 .box2 .ins{
    width: 285px;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}

section .almost .box3 .box2 h3{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .almost .box3 .box2 p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .almost .box3 .box2 .mini{
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    /* margin-top: 45px; */
}

section .almost .box3 .box1 .mini{
    width: 70px;
    height: 70px;
    background-color: #ff7228;
    margin-top: 45px;
}

section .who{
    width: 1110px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section .who h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    
}

section .who .cbs{
    width: 1110px;
    height: 354px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;

}

section .who .cbs .cb1{
    width: 260px;
    height: 230px;
    background-color: linear-gradient(135deg, rgba(145,57,11,1) 0%, rgba(209,99,51,1) 33%, rgba(187,98,94,1) 66%, rgba(128,93,208,1) 100%);
    border-radius: 10px;
}

section .who .cbs .cb2{
    width: 354px;
    height: 354px;
    background-color: white;
    border-radius: 10px;
}

section .who .cbs .cb3{
    width: 440px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .who .cbs .cb3 h4{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .who .cbs .cb3 p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .portfolio{
    width: 1920px;
    height: 700px;
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section .portfolio .port{
    width: 430px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .portfolio .port h4{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .portfolio .port h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .portfolio .work{
    width: 1920px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

section .portfolio .work .proin, .nulla, .ultra{
    width: 620px;
    height: 500px;
    background-color: #1c1b2d;
    padding-left: 55px;
    padding-bottom: 70px;
    display: flex;
    align-items: flex-end;
}

section .portfolio .work .text{
    width: 375px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

section .portfolio .work .text h1{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .portfolio .work .text h4{
    color: #ff7228;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .new{
    width: 1110px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 170px;
    margin-bottom: 175px;
}

section .new .blog{
    width: 270px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .new .blog h4{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .new .blog h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .new .box{
    width: 1110px;
    height: 440px;
    display: flex;
    justify-content: space-between;
}

section .new .box .john{
    width: 540px;
    height: 440px;
    background-color: #1c1b2d;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .new .box .john .up{
    width: 220px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .new .box .john .text{
    width: 130px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .new .box .john .up .text h1{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .new .box .john .up .text p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .new .box .john .text1{
    width: 412px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .new .box .john .text1 h1{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .new .box .john .text1 p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .new .box .john .read a{
    text-decoration: none;
    color: #ff7228;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

footer{
    width: 1920px;
    height: 500px;
    background-color: #1c1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .box{
    width: 1110px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer .box .up{
    width: 1110px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .box .up .odoi{
    width: 350px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .box .up .odoi h1{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

footer .box .up .odoi p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

footer .box .up .about{
    width: 600px;
    height: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .box .up .about .comp, .exp, .str{
    
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .box .up .about .comp .text{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .box .up .about .exp .text{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .box .up .about .str .text{
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .box .up .about h4{
    color: #ff7228;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

footer .box .up .about p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

footer .box .down{
    width: 1110px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

footer .box .down .network{
    width: 190px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

footer .box .down .a{
    width: 26px;
    height: 26px;
    text-decoration: none;
}

footer .box .down .text{
    width: 280px;
    height: 26px;
    display: flex;
    justify-content: space-between;
}

footer .box .down .text p{
    color: #5a5a8f;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

/* PAGE 2 ABOUT US */


section .about{
    width: 1920px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1c1b2d;
    margin-top: 90px;
} 

section .about .bord{
    width: 925px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .about .bord h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .about .bord p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .empty{
    width: 1920px;
    height: 810px;
    background: #5a5a8f;
}

section .bacc{
    width: 1920px;
    height: 1940px;
    background: #28273e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

section .bacc .we{
    width: 1110px;
    height: 410px;

}

section .bacc .we .up{
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 155px;
}

section .bacc .we .up .tema{
    width: 290px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .bacc .we .up .tema h5{
    color: #ff7228;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

section .bacc .we .up .tema h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc .we .up .text{
    width: 540px;
    height: 115px;
    display: flex;
    align-items: flex-end;
}

section .bacc .we .up .text p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bacc .we .down{
    width: 1110px;
    height: 135px;
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
}

section .bacc .we .down .box{
    width: 230px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .bacc .we .down .box h2{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc .we .down .box p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bacc .team{
    width: 1110px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}

section .bacc .team .up{
    width: 235px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section .bacc .team .up h5{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bacc .team .up h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc .team .down{
    width: 1110px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
}

section .bacc .team .down .box{
    width: 350px;
    height: 500px;
    background: #1c1b2d;
    padding-left: 40px;
    padding-bottom: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

section .bacc .team .down .box .name{
    width: 200px;
    height: 30px;
    transform: rotate(-90deg);
    transform-origin: 0px 100%;
    margin-left: 40px;
}

section .bacc .team .down .box h1{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc .start{
    width: 1110px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, rgba(145,57,11,1) 0%, rgba(209,99,51,1) 33%, rgba(187,98,94,1) 66%, rgba(128,93,208,1) 100%);
    border-radius: 20px;
    margin-bottom: 150px;
}

section .bacc .start .bord{
    width: 945px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .bacc .start .bord .star{
    width: 530px;
    height: 80px;
    display: flex;
    align-items: center;
}

section .bacc .start .bord .star h1{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc .start .bord .cont{
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #28273e;
}

section .bacc .start .bord .cont a{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/* services page */



section .research{
    width: 1920px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .research .box6{
    width: 1110px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .research .box6 .up1, .down1{
    width: 1110px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

section .research .box6 .up1 .box{
    width: 355px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #5a5a8f solid 2px;
    border-radius: 5px;
}

section .research .box6 .down1 .box{
    width: 355px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #5a5a8f solid 2px;
    border-radius: 5px;
}

section .research .box6 .down1 .box:hover{
    transition: 0.5s;
    background: #1c1b2d;
    border-radius: 5px;
}

section .research .box6 .up1 .box:hover{
    transition: 0.5s;
    background: #1c1b2d;
    border-radius: 5px;
}

section .research .box6 h2{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc2{
    width: 1920px;
    height: 650px;
    background: #28273e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
}

section .bacc2 .we2{
    width: 1110px;
    height: 505px;

}

section .bacc2 .we2 .up2{
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

section .bacc2 .we2 .up2 .tema{
    width: 400px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .bacc2 .we2 .up2 .tema h5{
    color: #ff7228;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

section .bacc2 .we2 .up2 .tema h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc2 .we2 .up2 .text{
    width: 540px;
    height: 115px;
    display: flex;
    align-items: flex-end;
}

section .bacc2 .we2 .up2 .text p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bacc2 .we2 .down2{
    width: 1110px;
    height: 225px;
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
}

section .bacc2 .we2 .down2 .box{
    width: 335px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .bacc2 .we2 .down2 .box .oren{
    width: 65px;
    height: 65px;
    background: #ff7228;
}

section .bacc2 .we2 .down2 .box h2{
    color: #ffffff;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bacc2 .we2 .down2 .box p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}



section .team2{
    width: 1920px;
    height: 600px;
    margin-top: 150px;
}

section .team2 .up2{
    width: 310px;
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin-left: 405px;
}

section .team2 .up2 h5{
    color: #ff7228;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .team2 .up2 h1{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .team2 .down2{
    width: 1920px;
    height: 316px;
    display: flex;
    justify-content: space-between;
    margin-top: 115px;
}

section .team2 .down2 .pbox{
    width: 537px;
    height: 316px;
    background: #1c1b2d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .team2 .down2 .pbox .bordr{
    width: 415px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .team2 .down2 .pbox .up{
    width: 410px;
    height: 70px;
}

section .team2 .down2 .pbox .up p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .team2 .down2 .pbox .down{
    width: 225px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

section .team2 .down2 .pbox .down .circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: solid 2px #5a5a8f;
    background: #28273e;
}

section .team2 .down2 .pbox .down h6{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .team2 .down2 .pbox .down p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

/* wrhgpeqoubrpvqjberkjgvkjsdhvl;skvkjsdhlvkjshlkvjshvdslhvs */

/* news feed */

section .bigbox{
    width: 1920px;
    height: 2400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #28273e;
}

section .bigbox .box9{
    width: 1110px;
    height: 1680px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section .bigbox .box9 .box3{
    width: 1110px;
    height: 520px;
    display: flex;
    justify-content: space-between;
}

section .bigbox .box9 .box3 .proin{
    width: 350px;
    height: 520px;
    border-radius: 12px;
}



section .bigbox .box9 .box3 .proin .up{
    width: 350px;
    height: 250px;
    background: #383656;
}

section .bigbox .box9 .box3 .proin .down{
    width: 350px;
    height: 270px;
    background: #1c1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .bigbox .box9 .box3 .proin .down .bot{
    width: 260px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

section .bigbox .box9 .box3 .proin .down .bot h5{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bigbox .box9 .box3 .proin .down .bot p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bigbox .box9 .box3 .proin .down .bot .img2{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

section .bigbox .box9 .box3 .proin .down .bot .img2 img{
    width: 50px;
    height: 50px;
}

section .bigbox .box9 .box3 .proin .down .bot .img2 h6{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bigbox .start{
    width: 1110px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #795cdc;
    border-radius: 20px;
}

section .bigbox .start .bord{
    width: 945px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .bigbox .start .bord .star{
    width: 530px;
    height: 80px;
    display: flex;
    align-items: center;
}

section .bigbox .start .bord .star h1{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bigbox .start .bord .cont{
    width: 160px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #28273e;
}

section .bigbox .start .bord .cont a{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* details page */

section .bac2{
    width: 1920px;
    height: 2460px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: #28273e;
}

section .bac2 .stolb{
    width: 925px;
    height: 2170px;
}

section .bac2 .stolb .empty2{
    width: 925px;
    height: 660px;
    background: #383656;
}

section .bac2 .stolb .sep22{
    width: 925px;
    height: 660px;
    background: #1c1b2d;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .bac2 .stolb .sep22 .line{
    width: 850px;
    height: 571px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section .bac2 .stolb .sep22 .line .horiz{
    width: 850px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

section .bac2 .stolb .sep22 .line .horiz .iimg{
    width: 165px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}

section .bac2 .stolb .sep22 .line .horiz .iimg img{
    width: 54px;
    height: 54px;
}

section .bac2 .stolb .sep22 .line .horiz .iimg .ttext{
    width: 90px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .bac2 .stolb .sep22 .line .horiz .iimg .ttext h6{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bac2 .stolb .sep22 .line .horiz .iimg .ttext p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bac2 .stolb .sep22 .line .horiz .data p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bac2 .stolb .sep22 .line h1{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .bac2 .stolb .sep22 .line .textup, .textdown{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

section .bac2 .stolb .empty3{
    width: 925px;
    height: 500px;
    background: #383656;
}

section .bac2 .stolb .boxbottom{
    width: 925px;
    height: 345px;
    background: #1c1b2d;
    display: flex;
    justify-content: center;
}

section .bac2 .stolb .boxbottom .line{
    width: 845px;
    height: 190px;
    margin-top: 35px;
}

section .bac2 .stolb .boxbottom .line p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* contact page */

section .about .bord .lwork h1{
    color: #ffffff;
    font-size: 160px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

section .contact{
    width: 1920px;
    height: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .contact .bbline{
    width: 1110px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

section .contact .bbline .botline{
    width: 730px;
    height: 305px;
    display: flex;
    justify-content: space-between;
}

section .contact .bbline .zaybal{
    width: 730px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .contact .bbline .zaybal label{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

section .contact .bbline .zaybal label .botline label{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
}

section .contact .bbline .company input{
    width: 730px;
    border: none;
    background-color: #28273e;
    border-bottom: 2px solid #5a5a8f;
    padding-bottom: 70px;
    margin-bottom: 40px;
}

section .contact .bbline .botline .name input{
    width: 350px;
    border: none;
    background-color: #28273e;
    border-bottom: 2px solid #5a5a8f;
    padding-bottom: 70px;
    margin-bottom: 40px;
    margin-top: 12px;
}

section .contact .bbline .botline .phone input{
    width: 350px;
    border: none;
    background-color: #28273e;
    border-bottom: 2px solid #5a5a8f;
    padding-bottom: 70px;
    margin-bottom: 40px;
    margin-top: 12px;
}


section .contact .bbline .boxline{
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .contact .bbline .boxline .box{
    width: 350px;
    height: 120px;
    background-color: #a6618a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgb(145,57,11);
    background: linear-gradient(135deg, rgba(145,57,11,1) 0%, rgba(209,99,51,1) 33%, rgba(187,98,94,1) 66%, rgba(128,93,208,1) 100%);
}

section .contact .bbline .boxline h6{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 20px;
}

section .contact .bbline .boxline p{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

